.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
}

.section1 {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.glowEffect {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(37, 99, 235, 1) 0%, rgba(37, 99, 235, 0.7) 50%, rgba(37, 99, 235, 0.3) 70%, rgba(37, 99, 235, 0) 90%);
  filter: blur(80px);
  pointer-events: none;
}

.textWrapper {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 200px;
  z-index: 1;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: var(--white);
  line-height: 1.4;
  position: relative;
}

.inquiryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inquiry {
  font-size: 16px;
  color: var(--white);
  line-height: 1;
}

.inquiryBtn {
  padding: 2px 0;
  color: var(--white);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
  ;
}