.noticeCard {
  border-radius: 12px;
  padding: 25px;
  background: var(--color-main10);
}

.noticeIconContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.noticeIcon {
  font-size: 14px;
  color: var(--color-main50);
}

.noticeTitle {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-main100);
  line-height: 1;
}

.noticeList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 18px;
}

.noticeList li {
  font-size: 14px;
  color: var(--color-main50);
  line-height: 1.2;
  list-style: disc;
}