.page {
  background: var(--white);
  padding-top: 66px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 24px;
}

.sidebar {
  position: sticky;
  top: 90px;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pageTitle {
  font-size: 40px;
  font-weight: 700;
}

.pageSubtitle {
  font-size: 18px;
  color: var(--color-subText1);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 36px;
}